---
import DiscordStatus from "../components/DiscordStatus.vue";
import ProjectCard from "../components/ProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main>
		<div
			class="absolute top-0 right-0 aspect-[21/9] -z-10 w-full md:block hidden"
		>
			<svg
				viewBox="0 0 2440 1099"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g clip-path="url(#clip0_1_2)">
					<rect width="2440" height="1099" fill="#090C0E"></rect>
					<path
						d="M-286 798.5C-69 691.833 365 412.3 365 147.5C365 -117.3 666.333 -219.167 817 -237"
						stroke="#201A21"
						stroke-width="8"></path>
					<ellipse
						cx="1220"
						cy="43"
						rx="1300"
						ry="500"
						fill="url(#paint0_linear_1_2)"
						fill-opacity="0.3"></ellipse>
					<path
						d="M2123.2 1138.5C1966.53 1089.83 1685.6 960.1 1815.2 830.5C1977.2 668.5 2311.7 896 2393.2 720.5C2474.7 545 2607.2 560.5 2556.7 460"
						stroke="#201A21"
						stroke-width="8"></path>
					<path
						d="M402 1099C567.167 933.833 867.4 568.6 747 429C596.5 254.5 1621.5 502.5 1779 181C1936.5 -140.5 2046.5 -191 2167.5 -124"
						stroke="#201A21"
						stroke-width="8"></path>
					<path
						d="M2525.08 -39.2476C2472.11 -108.89 2328.32 -194.11 2176.89 22.1463C1987.61 292.467 1698.99 339.409 1736.07 549.711C1765.74 717.953 1404.39 1005.98 1220 1128.96"
						stroke="#201A21"
						stroke-width="8"></path>
				</g>
				<defs>
					<linearGradient
						id="paint0_linear_1_2"
						x1="1220"
						y1="-457"
						x2="1220"
						y2="543"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#B71EFF"></stop>
						<stop offset="1" stop-opacity="0"></stop>
					</linearGradient>
					<clipPath id="clip0_1_2">
						<rect width="2440" height="1099" fill="white"></rect>
					</clipPath>
				</defs>
			</svg>
		</div>
		<div
			class="absolute top-0 right-0 aspect-[21/9] -z-10 w-full md:hidden block"
		>
			<svg
				viewBox="0 0 2168 1650"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g clip-path="url(#clip0_6_2)">
					<rect width="2168" height="1650" fill="#090C0E"></rect>
					<path
						d="M-283 861.5C-66 754.833 368 475.3 368 210.5C368 -54.3 669.333 -156.167 820 -174"
						stroke="#201A21"
						stroke-width="8"></path>
					<ellipse
						cx="1084"
						cy="56"
						rx="1300"
						ry="500"
						fill="url(#paint0_linear_6_2)"
						fill-opacity="0.3"></ellipse>
					<path
						d="M2165.2 1153.5C2008.53 1104.83 1727.6 975.1 1857.2 845.5C2019.2 683.5 2353.7 911 2435.2 735.5C2516.7 560 2649.2 575.5 2598.7 475"
						stroke="#201A21"
						stroke-width="8"></path>
					<path
						d="M184 1215.83C349.167 1050.66 649.4 685.429 529 545.829C378.5 371.329 1403.5 619.329 1561 297.829C1718.5 -23.671 1828.5 -74.171 1949.5 -7.17099"
						stroke="#201A21"
						stroke-width="8"></path>
					<path
						d="M2438.08 103.752C2385.11 34.1103 2241.32 -51.1098 2089.89 165.146C1900.61 435.467 1611.99 482.409 1649.07 692.711C1678.74 860.953 1317.39 1148.98 1133 1271.96"
						stroke="#201A21"
						stroke-width="8"></path>
				</g>
				<defs>
					<linearGradient
						id="paint0_linear_6_2"
						x1="1084"
						y1="-444"
						x2="1084"
						y2="556"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#B71EFF"></stop>
						<stop offset="1" stop-opacity="0"></stop>
					</linearGradient>
					<clipPath id="clip0_6_2">
						<rect width="2168" height="1650" fill="white"></rect>
					</clipPath>
				</defs>
			</svg>
		</div>
		<section id="hero" class="flex flex-row justify-between pt-8">
			<div id="hero-text" class="mr-8">
				<div class="flex flex-row gap-4 items-center">
					<h1 class="md:text-6xl text-5xl font-bold intersect-hidden">
						Hi, I&apos;m&nbsp;<span class="hero-text">Trobo</span>
					</h1>
				</div>
				<p
					class="ml-1 md:text-xl text-lg text-gray-200 mb-4 intersect-hidden"
				>
					Tech Enthusiast and Developer from Germany
				</p>
				<p
					class="ml-1 md:text-xl text-lg max-w-lg lg:max-w-2xl intersect-hidden"
				>
					I am a passionate developer specializing in front-end web
					development and creation of automation scripts with Python.
					You can see some of my work below.
				</p>
				<div
					class="buttons-row flex md:flex-row flex-col md:items-center items-start gap-4 ml-1 mt-8"
				>
					<a
						href="#projects"
						class="bg-gradient-to-br from-accent-100 to-accent-400 rounded-xl pb-0.5 pt-[1.96px] px-0.5 intersect-hidden"
					>
						<div
							class="px-6 py-2 text-lg rounded-xl transition-colors duration-300 w-full h-full bg-gray-800 hover:bg-transparent"
						>
							View Work
						</div>
					</a>
					<a
						href="/about"
						class="rounded-xl pb-0.5 pt-[1.96px] px-0.5 border-gradient-hover intersect-hidden"
					>
						<div class="px-6 py-2 text-lg rounded-xl bg-gray-800">
							More About Me
						</div>
					</a>
				</div>
			</div>
			<DiscordStatus client:load />
		</section>
		<section id="projects" class="mt-[20vh] mb-20">
			<h2
				class="mb-8 font-bold text-4xl tracking-wide underline decoration-accent-100 intersect-hidden"
			>
				Projects
			</h2>
			<div
				class="md:grid md:grid-flow-col flex flex-col w-full justify-between gap-8 mb-4"
			>
				<ProjectCard
					classList="projects-intersect-hidden"
					title="Kanri"
					description="Cross-platform, offline-first Kanban board desktop application with a focus on simplicity and user experience. Made with Tauri and Nuxt.js v3, official successor to Kanban Electron."
					tech="HTML, TailwindCSS, TypeScript, Nuxt.js v3, Tauri, JSON"
					github="https://github.com/trobonox/kanri"
				/>
				<ProjectCard
					classList="projects-intersect-hidden transition-delay-1"
					title="Productivity Suite"
					description="All-in-one web app for productivity tools like a Pomodoro timer and a Kanban board, with user authentication and cloud save using Supabase as the backend."
					tech="HTML, Tailwind CSS, JavaScript, Nuxt.js, Supabase (PostgreSQL Database + Authentication)"
					website="https://productivity-suite-three.vercel.app/"
				/>

				<ProjectCard
					classList="projects-intersect-hidden transition-delay-2"
					title="Ultramarine Linux Website"
					description="Designed and implemented a landing page for the Linux Distribution Ultramarine, which is based on Fedora Linux."
					tech="HTML, Tailwind CSS, Javascript, Astro"
					website="https://ultramarine-linux.org"
				/>
			</div>
			<div
				class="hidden md:grid md:grid-flow-col w-full justify-between gap-8 mt-8 mb-4"
			>
				<ProjectCard
					classList="projects-intersect-hidden"
					title="AbletonConvert"
					description="A CLI Tool for making Files from newer Ableton 10 Versions (10.1.x) compatible with older ones (10.0.x)"
					tech=".NET, C#, XML, Ableton Live Sets"
					github="https://github.com/trobonox/abletonconvert"
				/>
				<ProjectCard
					classList="projects-intersect-hidden transition-delay-1"
					title="Pokaimon"
					description="Collaborated with 2 people to build a Genshin Impact themed collectible game with mechanics similar to Pokémon, made for the Supabase Launch Week 5 Hackathon."
					tech="HTML, TailwindCSS, TypeScript/JavaScript, Vue.js v3, Supabase"
					github="https://github.com/trobonox/pokaimon"
					website="https://pokaimon.moe"
				/>
				<ProjectCard
					classList="projects-intersect-hidden transition-delay-2"
					title="Lohem Bot"
					description="Discord bot for the community Lohem, based around the game The Isle. Manages gameserver config files over FTP and integrates this concept with features like a currency system."
					tech="Python, Discord.py, SQLite, FTP Data Transfer, JSON"
				/>
			</div>
			<a href="/projects" class="text-gray-200 hover:text-gray-50"
				>View more...</a
			>
		</section>
		<section id="contact" class="mb-8">
			<h2
				class="mb-8 font-bold text-4xl tracking-wide underline decoration-accent-100 intersect-hidden"
			>
				Contact
			</h2>
			<p class="text-lg intersect-hidden">
				If you have any questions or want to work with me feel free to
				write an email at: hello(at)trobo.tech. <br /> Alternatively, you
				can message me on Discord: trobo.tech
			</p>
		</section>
	</main>
</BaseLayout>

<style>
	.hero-text {
		background: url("../../images/gradient.avif"),
			linear-gradient(to top left, rgb(119, 69, 255), rgb(43, 43, 209));
		background-position: 46% 48%;
		webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.border-gradient-hover {
		background-image: linear-gradient(to bottom right, #292929, #1a1a1a);
		transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
	}

	.border-gradient-hover:hover {
		background-image: linear-gradient(
			to top left,
			rgb(119, 69, 255),
			rgb(43, 43, 209)
		);
		transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
	}

	.intersect-hidden {
		opacity: 0;
		transform: translateY(-1.5rem);
		transition: all 1.3s ease-in-out;
	}

	.intersect-hidden:nth-child(2) {
		transition-delay: 200ms;
	}

	.intersect-hidden:nth-child(3) {
		transition-delay: 300ms;
		transition-duration: 1.7s;
	}

	.intersect-hidden:nth-child(4) {
		transition-delay: 400ms;
	}

	.intersect-show {
		opacity: 100%;
		transform: translateY(0);
	}
</style>

<script>
	const hiddenElements = document.querySelectorAll(".intersect-hidden");

	const observer = new IntersectionObserver(
		(entries) => {
			entries.forEach((entry) => {
				if (!entry.isIntersecting) return;

				entry.target.classList.toggle(
					"intersect-show",
					entry.isIntersecting
				);
			});
		},
		{ threshold: 0.2 }
	);

	hiddenElements.forEach((element) => {
		observer.observe(element);
	});

	const projectCardElements = document.querySelectorAll(
		".projects-intersect-hidden"
	);

	const projectCardObserver = new IntersectionObserver(
		(entries) => {
			entries.forEach((entry) => {
				if (!entry.isIntersecting) return;

				entry.target.classList.toggle(
					"projects-intersect-show",
					entry.isIntersecting
				);
			});
		},
		{ threshold: 0.2 }
	);

	projectCardElements.forEach((element) => {
		projectCardObserver.observe(element);
	});
</script>
