---
import DiscordStatus from "../components/DiscordStatus.vue";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main>
		<section class="flex flex-row justify-between pt-8">
			<div id="hero-text" class="mr-8">
				<div class="flex flex-row gap-4 items-center">
					<h1 class="md:text-6xl text-5xl font-bold">
						Hi, I&apos;m&nbsp;<span class="hero-text">Trobo</span>
					</h1>
				</div>
				<p class="ml-1 md:text-xl text-lg text-gray-200 mb-4">
					Tech Enthusiast and Developer from Germany
				</p>
				<p class="ml-1 md:text-xl text-lg max-w-lg lg:max-w-2xl">
					I am a passionate developer specializing in front-end web
					development and creation of automation scripts with Python.
					You can see some of my work below.
				</p>
				<div class="flex md:flex-row flex-col md:items-center items-start gap-4 ml-1 mt-8">
					<a href="#projects" class="bg-gradient-to-br from-accent-100 to-accent-400 rounded-xl p-0.5">
						<div
							
							class="px-6 py-2 text-lg rounded-xl transition-colors duration-300 w-full h-full bg-gray-800 hover:bg-transparent"
						>
							View Work
						</div>
					</a>
					<a
						href="/about"
						class="rounded-xl p-0.5 border-pog-hover"
					>
						<div class="px-6 py-2 text-lg rounded-xl bg-gray-800">More About Me</div>
					</a>
				</div>
			</div>
			<DiscordStatus client:load />
		</section>
	</main>
</BaseLayout>

<style>
	.hero-text {
		background-image: url("../../images/gradient.gif");
		background-position: 46% 48%;
		webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.border-pog-hover {
		background-image: linear-gradient(to bottom right, #292929, #1a1a1a);
		transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
	}

	.border-pog-hover:hover {
		background-image: linear-gradient(to top left, rgb(119, 69, 255), rgb(43, 43, 209));
		transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
	}
</style>
